.container {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  gap: 1rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}

.main_navbar {
  width: 100%;
  padding-top: 2vh;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.nav_links {
  list-style: none;
  padding-bottom: 3vh;
}

.nav_links_li {
  display: inline-block;
  font-size: 2rem;
  padding: 0rem 1rem;
  letter-spacing: 1px;
  transition: 0.3s ease;
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nav_links_li:hover {
  color: rgb(97, 148, 214);
}

.card_container {
  margin-top: 0rem;
  padding: 1vw 1vw 4vw 1vw;
  max-width: 100%;
  height: min-content;
  display: grid;
  grid-gap: 0.6vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.small_card {
  background-color: rgba(255, 255, 255, 0.219);
  flex-direction: column;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;
  height: min-content;
}

.small_card:hover {
  background-color: rgba(255, 255, 255, 0.089);
  transform: scale(105%);
  transition: ease 200ms;
}

.small_card_img {
  transition: 0.5s;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}

.small_card_title {
 color: white;
  padding: 0.2rem;
  font-size: 0.9rem;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0%;
}
.big_card {
  color: white;
  height: auto;
  background-color: rgba(255, 255, 255, 0.308);
  animation: big_card_show 1.5s ease forwards;
  padding: 1vw 1vw 1vw 1vw;
  border: 4px solid white;
  border-radius: 15px;
}

.big_card_span {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.big_card_description {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  line-height: 1.6rem;
}

.big_card_img {
  width: 90%;
  padding-bottom: 1vw;
  justify-self: center;
}

.big_card_description_div {
  text-align: left;
}

.big_card_target {
  font-size: 1.4rem;
  padding-bottom: 2rem;
  padding-left: 1.2rem;
}

.overlay {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -15rem;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(8, 8, 8, 0.582)
  );
  padding: 5px 5px 5px;
  transition: 0.6s ease-in-out 200ms;
}

.btn {
  display: inline-block;
  margin-bottom: 2vh;
  padding: 0.45rem 0.65rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
  border: none;
  border-radius: 25px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.img_container {
  height: -webkit-fill-available;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.img_container:hover .overlay {
  bottom: -10px;
  transition: 0.7s ease 0.1s;
}

.muscle_info {
  width: 70vw;
  height: auto;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(80, 79, 79));
  color: rgb(255, 255, 255);
  /* box-shadow: 0.3em 0.5rem 0.6em 0.2rem rgba(255, 255, 255, 0.644); */
  text-align: left;
  padding: 4rem 6rem 4rem 7rem;
  margin: 0.3rem 0rem 7rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.muscle_info_card_logo {
  width: 20vw;
  align-self: flex-end;
  margin: 0vw 3vw 4vw;
}

.muscle_info_h2 {
  text-align: center;
  padding-bottom: 2vh;
}

.muscle_info_img {
  width: 60%;
}

.muscle_info_paragraph {
  font-size: 2.1rem;
  padding: 2vw 1vw 2vw 0vw;
}

.muscle_info_description {
  font-size: 1.3rem;
}

@keyframes big_card_show {
  from {
    transform: translateX(400%);
    width: 15vw;
  }
  to {
    transform: translateX(0%);
    width: 30vw;
  }
}



@media only screen and (max-width: 600px) {
  .container {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
  }

  .main_navbar {
    width: 100%;
    padding-top: 1vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav_links {
    list-style: none;
    padding-bottom: 1vh;
  }

  .nav_links_li {
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s ease;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .nav_links_li:hover {
    color: rgb(97, 148, 214);
  }

  .card_container {
    margin-top: 3rem;
    padding: 0vw 2vw 0vw 2vw;
    max-width: 100%;
    height: min-content;
    display: grid;
    grid-gap: 0.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .small_card {
    background-color: rgba(255, 255, 255, 0.363);
    flex-direction: column;
    border: 2px black solid;
    border-radius: 10px;
  }

  .small_card:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: ease 200ms;
  }

  .small_card_img {
    transition: 0.5s;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
  }

  .small_card_title {
    background-image: linear-gradient(
      to bottom,
      rgba(114, 114, 114, 0.582),
      transparent
    );
    color: white;
    padding: 0.2rem;
    font-size: 0.7rem;
    font-weight: 400;
    position: absolute;
    width: 100%;
    left: 0%;
  }
  .big_card {
    color: white;
    height: auto;
    width: 90%;
    background-color: rgba(160, 160, 160, 0.596);
    animation: big_card_show 1.5s ease forwards;
    margin: 1rem;
    padding: 1.5rem 0rem 1rem 0rem;
    border-radius: 10px;
    margin-top: 1rem;
    align-self: center;
    
    border: none;
    
  }

  .big_card_span {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
  }

  .big_card_description {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    line-height: 1.5rem;
  }

  .big_card_img {
    margin-top: 0rem;
    width: 100%;
    padding-bottom: 1rem;
    justify-self: center;
  }

  .big_card_description_div {
    text-align: left;
  }

  .big_card_target {
    padding-bottom: 1rem;
    padding-left: 0.4rem;
  }

  .overlay {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -15rem;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(8, 8, 8, 0.582)
    );
    padding: 5px 5px 5px;
    transition: 0.6s ease-in-out 200ms;
  }

  .btn {
    display: inline-block;
    margin-bottom: 1vh;
    padding: 0.3rem 0.4rem;
    background-color: rgb(97, 148, 214);
    border: none;
    border-radius: 25px;
    font-size: 0.7rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  .img_container {
    height: -webkit-fill-available;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .img_container:hover .overlay {
    bottom: -10px;
    transition: 0.7s ease 0.1s;
  }

  .muscle_info {
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0rem 0rem 0rem 0rem;
    line-height: 1.5rem;
    width: 90%;
    align-self: center;
  }

  .special_div {
    background-color: rgba(0, 0, 0, 0.698);
    padding-top: 1rem;
    width: 100%;
  }

  .muscle_info_card_logo {
    width: 25vw;
    align-self: flex-end;
    margin: 0vw 3vw 4vw;
  }

  .muscle_info_h2 {
    text-align: center;
    padding-bottom: 2vh;
    font-size: 1.2rem;
  }

  .muscle_info_img {
    width: 100%;
  }

  .muscle_info_paragraph {
    display: none;
    font-size: 2.1rem;
    padding: 2vw 1vw 2vw 0vw;
  }

  .muscle_info_description {
    font-size: 1.3rem;
    display: none;
  }

  @keyframes big_card_show {
    from {
      transform: translateX(200%);
      width: 0%;
    }
    to {
      transform: translateX(0%);

      width: 95%;
    }
  }
}
