

.home_card_h3 {
  padding: 1rem 0rem 2rem;
}

.home_card_paragraph {
  padding-bottom: 3rem;
  font-size: 1.7rem;
}

.home_card_ul > li {
  padding: 0.6rem 0rem 0.7rem;

  font-size: 1.7rem;
}

.fakeNav {
  width: 100vw;
  height: 4.5vw;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .home_card {
    background-color: rgba(0, 0, 0, 0.698);
    padding: 1rem 0.5rem 2rem 0.7rem;
    line-height: 1.5rem;
  }

  .home_card_h3 {
    font-size: 1.3rem;
  }

  .home_card_paragraph {
    padding-bottom: 1.5rem;
    font-size: 1rem;
  }

  .home_card_ul > li {
    padding: 0.3rem 0rem 0.5rem;

    font-size: 1rem;
  }

  .fakeNav {
    width: 100vw;
    height: 4.5vw;
    background-color: black;
  }
}
