.container {
  width: 100vw;
  height: auto;
  background-color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../files/home-bg.png);
  background-size: cover;
}

.basics_card {
  width: 70vw;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0rem 0rem 0.6rem 0.6rem rgba(255, 255, 255, 0.568);
  text-align: left;
  padding: 4rem 6rem 4rem 7rem;
  margin: 6rem 0rem 3rem;
  display: flex;
  flex-direction: column;
}

.basics_card_logo {
  width: 20vw;
  align-self: flex-end;
  margin: 0vw 3vw 4vw;
}

.basics_card_h2 {
  padding: 2vh 0vh 2vw 0vw;
}

.basics_paragraph {
  white-space: pre-line;
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
}

.basic_flex_tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 5rem;
  margin-bottom: 6vh;
}

.basics_info_card {
  display: inline-block;
  font-size: 1.5rem;
  min-height: 40vh;
  width: 100%;
}

.basic_flex_item {
  border-right: 5px solid white;
  width: 100%;
  justify-self: stretch;
  font-size: 2rem;
  text-shadow: white 1px 1px 0px;
  align-self: center;
  cursor: pointer;
}

.basic_flex_item:hover {
  color: rgb(97, 148, 214);
  text-shadow: rgb(97, 148, 214) 1px 1px 0px;
}

.basic_flex_item:last-child {
  border: none;
}

.fakeNav {
  width: 100vw;
  height: 4.5vw;
  background-color: black;
}

.basics_card_paragraph {
  white-space: pre-line;
  line-height: 2rem;
  padding: 2vh 0vh 2vh 0vh;
  font-size: 1.8rem;
}
