.article {
  border: 3px solid rgba(177, 177, 177, 0.623);
  padding: 2rem 3rem 2rem 3.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.article_left {
  width: 85%;
  padding: 0.5rem 0rem 0rem 0.5rem;
}

.article_right {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.article_card_logo {
  width: 20vw;
  align-self: flex-end;
  margin: 0vw 3vw 4vw;
}

.article_h2 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(219, 162, 55);
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
  padding-bottom: 1.5rem;
}

.article_avatar {
  width: 90%;
  background-size: contain;
  border: 2px solid white;
  border-radius: 15px;
}

.article_name {
  font-size: 0.8rem;
  padding: 1rem 0rem 1rem 0rem;
}

.article_date {
  font-size: 0.8rem;
}

.new_article_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  padding: 1rem;
  font-size: 1.7rem;
}

input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0rem 8rem 0rem 1rem;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.textarea_newArticle {
  width: 100%;
  min-height: 50vh;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0rem 0rem 0rem 1rem;
}

.btn {
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: rgb(97, 148, 214);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  width: 6rem;
  align-self: flex-start;
  margin-top: 1.5rem;
  align-self: flex-end;
}

.btn:hover {
  background-color: rgba(97, 148, 214, 0.808);
}

.article_paragraph {
  padding: 1rem 2rem 3rem 0rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

.home_card_ul > li {
  padding: 0.6rem 0rem 0.7rem;

  font-size: 1.7rem;
}

.fakeNav {
  width: 100vw;
  height: 4.5vw;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .article {
    border: 3px solid rgba(177, 177, 177, 0.322);
    padding: 2rem 0.5rem 2rem 0rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: rgba(0, 0, 0, 0.808);
  }

  .article_left {
    width: 80%;
    padding: 0.5rem 0rem 0rem 0.5rem;
  }

  .article_right {
    width: 20%;
    display: flex;
    flex-direction: column;
  }

  .article_card_logo {
    width: 20vw;
    align-self: flex-end;
    margin: 0vw 3vw 4vw;
  }

  .article_h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(219, 162, 55);
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
  }

  .article_avatar {
    width: 100%;
    aspect-ratio: 1 ;
    background-size: auto;
    border: 2px solid white;
    border-radius: 15px;
  }

  .article_name {
    font-size: 0.7rem;
    padding: 1rem 0rem 1rem 0rem;
  }

  .article_date {
    font-size: 0.6rem;
  }

  .new_article_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    padding: 1rem;
    font-size: 1.2rem;
  }

  input {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0rem 0rem 0rem 0rem;
  }

  .flexDiv {
    display: flex;
    flex-direction: row;
  }

  .textarea_newArticle {
    width: 100%;
    min-height: 25vh;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0rem 0rem 0rem 0rem;
  }

  .btn {
    margin-left: 0.5rem;
    margin-right: 0;
    padding: 0.4rem 0.5rem;

    background-color: rgb(97, 148, 214);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    width: auto;
    align-self: flex-start;
    margin-top: 1rem;
    align-self: flex-end;
  }

  .btn:hover {
    background-color: rgba(97, 148, 214, 0.808);
  }

  .article_paragraph {
    padding: 1rem 1rem 2rem 0rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }

  .fakeNav {
    width: 100vw;
    height: 4.5vw;
    background-color: black;
  }
}
