.container {
  width: 100vw;
  height: auto;
  background-color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../files/home-bg.png);
  background-size: cover;
}

.article_card {
  width: 70vw;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0rem 0rem 0.6rem 0.6rem rgba(255, 255, 255, 0.568);
  text-align: left;
  padding: 4rem 6rem 4rem 7rem;
  margin: 6rem 0rem 3rem;
  display: flex;
  flex-direction: column;
}

.article {
  border: 3px solid white;
  padding: 4rem 6rem 4rem 7rem;
}

.article_card_logo {
  width: 20vw;
  align-self: flex-end;
  margin: 0vw 3vw 4vw;
}

.article_h2 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(180, 141, 11);
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
  padding-bottom: 1.5rem;
}

label {
  padding: 1rem;
  font-size: 1.7rem;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0rem 8rem 0rem 1rem;
}

textarea {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0rem 8rem 0rem 1rem;
}

.article_paragraph {
  padding-bottom: 3rem;
  font-size: 1.7rem;
}

.home_card_ul > li {
  padding: 0.6rem 0rem 0.7rem;

  font-size: 1.7rem;
}

.fakeNav {
  width: 100vw;
  height: 4.5vw;
  background-color: black;
}
