@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500");

header {
  height: 18vh;
  box-sizing: border-box;
  z-index: 98;
  position: sticky;
  top: 1px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0)
  );
  box-shadow: black 1rem 0rem 3rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(232, 232, 233);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem 0rem 1.5rem;
}
.logo {
  cursor: pointer;
  height: 40%;
}

.flexDiv {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}

.nav_links {
  list-style: none;
}

.nav_links_li {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0rem 0.8rem;
  transition: 0.3s ease;
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
  cursor: pointer;
}

.nav_links_li:hover {
  color: rgb(97, 148, 214);
}

.btn {
  padding: 0.8rem 0.7rem;
  background-color: rgb(97, 148, 214);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: rgba(97, 148, 214, 0.808);
}

.header {
  position: sticky;
  top: 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.headerH1 {
  align-self: flex-start;
  padding: 3vh;
}

.headerNav {
  justify-items: self-end;
  display: flex;
  flex-basis: 1;
  align-self: flex-end;
  list-style: none;
}

.headerNav > li {
  font-size: 1rem;
  margin: 1vw;
  margin-bottom: 1vw;
  margin-right: 2vw;
  border: transparent solid 7px;
  padding: 10px;
  cursor: pointer;
}

.headerNav > li:hover {
  transition: 100ms ease-in-out;
  color: rgba(0, 0, 0, 0.363);
  opacity: 0.8;
}

.loginPanel {
  display: flex;
  width: 40%;
  align-self: flex-end;
  justify-content: space-between;
  justify-items: center;
  padding: 0.5rem 1rem 0rem 1rem;
}

.loginPanel_btn_div {
  display: flex;
  align-content: center;
}

.loginPanel_btn {
  margin-right: 1rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.918);
  font-size: 1rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.loginPanel_paragraph {
  font-size: 1.1rem;
}
