.contact {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0;
  padding: 0;
}

.contact-area {
  margin: 0;
  padding-top: 1.5rem;
}

.contact-content h6 {
  color: #f1f4f8;
  font-size: 15px;
  font-weight: 400;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  color: #c5c7ca;
  display: inline-block;
  height: 40px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 60px;
}

.contact-social ul li a:hover {
  color: #ffffff;
}

.contact-content img {
  max-width: 210px;
}

section {
  color: #ffffff;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 66px;
}

.hover-target {
  font-size: 40px;
}

@media only screen and (max-width: 400px) {
  footer p {
    padding: 20px 0;
    font-size: 1rem;
  }

  .contact-social ul li a {
    color: #c5c7ca;
    display: inline-block;
    height: 40px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 50px;
    font-size: 2rem;
  }
}


@media only screen and (max-width: 600px) {

  .contact-social ul li a {
    
    font-size: 1.5rem;
  }
  footer p {
    font-size: 0.9rem;
  }
}