* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  /* overflow: hidden; */
  text-align: center;
  position: relative;
  display: grid;
  /* overflow: hidden; */
  font-size: 30px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  background-image: url(../src/components/files/home-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
