* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  /* overflow: hidden; */
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.178);
}

.btn {
  height: 8vh;
  width: 5vw;
}

.mainContent {
  display: flex;
  width: 100%;
  align-items: stretch;
  grid-column: 1/ -1;
  grid-row: 2 / 3;
}
.contacts {
  background-color: rgba(128, 128, 128, 0.493);
}
