body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

body {
  /* overflow: hidden; */
  text-align: center;
  position: relative;
  display: grid;
  /* overflow: hidden; */
  font-size: 30px;
  background-color: black;

  font-family: "Roboto", sans-serif;
  background-image: url(../src/components/files/home-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: visible;
    background-image: url(../src/components/files/home-bg-mobile.png);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
