.contacts {
  /* grid-column: 1 / 2; */
  /* grid-row: 2 / 3; */
  width: 0vw;
  opacity: 1;
}
.showContacts {
  opacity: 0;
  width: 0vw;
  animation: 2s ease 200ms 1 forwards fill-mode;
  animation-name: visibleContacts;
  font-size: 2.45vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: cyan;
}

.hideContacts {
  opacity: 1;
  width: 20vw;
  animation: 2s ease 200ms 1 forwards fill-mode running;
  animation-name: invisibleContacts;
  transition: 2s ease;
  font-size: 2.45vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: cyan;
}

.trainers {
  margin: 1vw;
  padding-bottom: 2vh;
  border-bottom: blue 5px solid;
  min-height: 20px;
  transition: 300ms ease;
  /* visibility: hidden; */
}

.specUL > li {
  list-style: none;
  margin: 2vh;
}

.contacts > h3 {
  margin: 1vw;
  text-align: center;
}

.trainers > p {
  margin: 1vh;
}

.trainerAvatar {
  height: 12.5vh;
  width: 12.5vh;
  border-radius: 100%;
  object-fit: cover;
}

.emailButton {
  padding: 2vh;
  border: none;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.822);
  margin: 1vh;
  border-radius: 2vh;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.959);
}

.opened {
  display: block;
}

.openedNot {
  display: none;
}

.questionary {
  display: flex;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.452);
  border-radius: 25px;
  margin: 1vh;
  box-shadow: 3px 1px 3px rgba(255, 255, 255, 0.753);
}

@keyframes visibleContacts {
  from {
    font-size: 2vh;
    width: 0vw;
    opacity: 0;
  }
  to {
    font-size: 2.45vh;
    width: 20vw;
    opacity: 1;
  }
}

@keyframes invisibleContacts {
  from {
    width: 20vw;
    opacity: 1;
  }
  to {
    width: 0vw;
    opacity: 0;
  }
}
